server:
  tomcat:
# Tomcat metrics enabled for Spring Cloud for AWS Micrometer CloudWatch Metrics Integration    
    mbeanregistry:
      enabled: true
# Spring Cloud for AWS Parameter Store Integration Enabled
spring:
  cloud:
    aws:
      parameterstore:
        enabled: true
  config:
    import:
      - optional:aws-parameterstore:/config/${PROJECT_NAME}/${ENV_NAME}/common/;/config/${PROJECT_NAME}/${ENV_NAME}/${spring.application.name}/      
        
# Spring Boot Actuator
management:
  endpoints:
    web:
      discovery:
        enabled: false
# Metrics enabled        
  metrics:
    enable:
      all: false
      system: true
      process: true
      disk: true
      jvm: true
      tomcat: true
# Spring Cloud for AWS Micrometer CloudWatch Metrics Integration Enabled
  cloudwatch:
    metrics:
      export:
        enabled: true
        namespace: ${spring.application.name}